

body {
    padding-top: 50px;
    position: relative;
}

.jumbotron {
    background-image: url("../images/landscape.jpg");
    background-size: cover;
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: white;
}

h2 {
    color: #337ab7;
    text-align: center;
}

h3 {
    text-align: center;
}

.projectName {
    text-transform: uppercase;
}

.projectName a {
    color: white;
}



/* .nav {
    background-color: #5c482f;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

 .nav ul li {
    display: inline-block;
    padding: 20px 10px 20px;
    float: left;
}

.nav ul {
    float: right;
}

.nav ul li a {
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.nav a:hover {
    color: #ecc9ab;
    text-decoration: none;
    transition: color 600ms;
}

.nav-tabs {
    border-bottom: 0;
} */

#carousel-example-generic {
    padding-top: 19px;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

.carousel-caption h3 {
    font-size: 2em;
}

.carousel-caption p {
    font-size: 1em;
}

.goals {
    margin: 75px 0 50px 0;
}

.goal {
    margin: 0 0 50px 0;
}

#projects {
    margin: 50px 0;
}

.projects {
    margin: 50px 0 0 0;
}

.first-row {
    margin: 100px 0;
}

/* About */

* { 
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../images/landscape.jpg");
    background-size: cover;
    padding: 48px 48px;
}

.container-fluid {
    
    margin: 50 auto 50 auto;
}


.header h1 {
    text-align: center;
    color: white;
}

.about {
    margin: 100px 0;
}

.image {
    margin-left: 50px;
}

.middle-section {
    text-align: center;
}

.column {
    display: inline-block;
}

.skills {
    
    right: 150px;
    background-color: #101010;
    color: #fff;
    padding: 30px 50px;
}

.main-text {
    clear: both;
    padding-top: 10px;
}

/* Contact */

body {
    color: black;
    padding-top: 50px;
}

.jumbotron {
    background-image: url("../images/landscape.jpg");
    background-size: cover;
}

.header h2 {
    color: black;
    text-align: center;
    margin: 100px 0 0 0;
}

#contact {
    background-image: url("../images/mountains2.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: black;
    padding: 25px 25px;
    height: 1100px;
}

.message {
    text-align: center;
    margin: 50px auto;
    width: 75%;
}

p {
    text-align: center;
}

a { 
    color: black;
}    
    
.glyphicon {
    
    padding-right: 25px;
    color: black;
}

.address {
    margin: 0 0 100px 0;
}

.form-control {
    width: 80%;
}

/* FAQ */

.panel-default>.panel-heading {
    background-color: #b6b5b5;
}

/* Typography */

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.nav ul li {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

p {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.intro p {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 100;
    color: #337ab7;
    -webkit-margin-before: 0;
}

.skills {
    font-size: 1.25em;
}

.skills h3 {
    text-align: center;
    text-transform: uppercase;
}

.main-text h3 {
    color: #337ab7;
}

.main-text p {
    margin: 25px 100px 75px 100px;
}

.message {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

.contact-info {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.75em;
    color: black;
}

#contact {
    font-weight: bold;
}

.email {
    font-size: 1.10em;
}

.faq-questions h2 {
    margin: 75px 0;
}

.faq-questions p {
    font-size: 2em;
    margin: 50px 0;
}

.panel-title {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 1.75em; 
    text-decoration: none;
}

.panel-title a:focus, a:hover {
    text-decoration: none;
}

.panel-body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.5em;
    color: #337ab7;
}

.video-guide {
    text-align: center;
}

.social {
    margin-bottom: 25px;
}

.copy {
    float: left;
}

.social-media {
    float: right;
}

.twitter-follow {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 140px;
}

.fb-like {
    width: 300px;
}


@media (min-width: 768px) {  

.carousel-caption h3{
    font-size: 4em;
}

.carousel-caption p {
    font-size: 2.5em;
}

    
.email {
    font-size: 1.75em;
}

.video-guide {
    margin: 50px;
}

.twitter-follow {
    margin: 0 0 0 0;
    
}

}