/* add css below */

.jumbotron {
    background-image: url("../images/landscape.jpg");
    background-size: cover;
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: white;
}

h2 {
    color: #337ab7;
}

